# -f https://download.pytorch.org/whl/cu118
torch
-f https://data.pyg.org/whl/torch-2.0.0+cpu.html
torch_scatter
-f https://data.pyg.org/whl/torch-2.0.0+cpu.html
torch_sparse
-f https://data.pyg.org/whl/torch-2.0.0+cpu.html
torch_cluster
-f https://data.pyg.org/whl/torch-2.0.0+cpu.html
torch_spline_conv
torch_geometric
matplotlib
seaborn
tqdm
osmnx
scikit-learn
jupyterlab
lightgbm
shap